* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: grid;
  background-color: rgb(99, 71, 249);
}
header .heads {
  width: 80%;
  height: 10%;
  display: grid;
  color: white;
  margin: 10px auto;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}
header .heads ul {
  gap: 5%;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: end;
}
header .heads ul input {
  padding: 10px;
  color: white;
  border: 1px solid white;
  background-color: rgb(99, 71, 249);
}
header .heads .container-fluid {
  display: none;
}
header .sarlovha {
  width: 80%;
  color: white;
  margin: 0% auto;
  text-align: center;
}
header .sarlovha h1 {
  font-size: 85px;
}
header .sarlovhaImg {
  width: 100%;
  height: 80vh;
  display: grid;
  margin-top: -40vh;
  grid-column-gap: 2%;
  grid-template-columns: repeat(5, 1fr);
}
header .sarlovhaImg .sarlovhaImg1 {
  height: 100%;
  display: flex;
  overflow: hidden;
  margin-top: 40vh;
  align-items: center;
}
header .sarlovhaImg .sarlovhaImg1 h6 {
  top: 100%;
}
header .sarlovhaImg .sarlovhaImg1 img {
  width: 100%;
}
header .sarlovhaImg .sarlovhaImg2 {
  align-items: center;
}
header .sarlovhaImg .sarlovhaImg2 img {
  width: 180%;
  height: 80%;
  margin-left: -50%;
}
header .sarlovhaImg .sarlovhaImg3 img {
  width: 100%;
  height: 50%;
}

.container1 {
  width: 80%;
  margin: 0 auto;
  margin-top: 70vh;
}
.container1 .box {
  width: 100%;
  display: grid;
  grid-column-gap: 22%;
  grid-template-columns: repeat(2, 1fr);
}
.container1 .box .text {
  display: grid;
  align-items: center;
}
.container1 .box .text .texs .be {
  width: 100%;
  display: flex;
}
.container1 .box .text .texs input {
  border: none;
  color: white;
  padding: 10px 20px;
  background-color: rgb(240, 124, 82);
}
.container1 .box .imgs {
  display: flex;
  justify-content: end;
  position: relative;
}
.container1 .box .imgs .imgs1 {
  position: absolute;
  padding: 10%;
  width: 80%;
  right: 65%;
  top: 15%;
  background: linear-gradient(180deg, #DD6F5E 0%, #F07C52 99.92%);
}
.container1 .box .imgs .imgs1 h3 {
  color: white;
  text-align: center;
}
.container1 .box .imgs .imgs1 p {
  color: rgba(255, 255, 255, 0.5);
}
.container1 .box .imgs img {
  width: 100%;
}

.box1 {
  padding-top: 20vh;
  margin-top: 20vh;
  text-align: center;
  background-color: rgba(254, 114, 84, 0.08);
}
.box1 p {
  color: rgba(0, 0, 0, 0.5);
}
.box1 h1 {
  font-size: 50px;
}
.box1 .alx {
  margin: 0 auto;
  width: 80%;
  grid-gap: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.box1 .alx .alx1 {
  height: 70%;
  overflow: hidden;
  text-align: start;
  position: relative;
  background-color: yellow;
}
.box1 .alx .alx1 h2 {
  font-size: 40px;
}
.box1 .alx .alx1 img {
  width: 100%;
  height: 80%;
}
.box1 .alx .alx1 .alx2 {
  top: 50%;
  left: 10%;
  width: 26%;
  height: 22%;
  display: flex;
  position: absolute;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 124, 82);
}
.box1 .alx .alx1 .alx2 h2 {
  font-size: 40px;
  color: white;
}

.container2 {
  width: 80%;
  margin: 0 auto;
}
.container2 .box2 {
  display: grid;
  margin-top: 20vh;
}
.container2 .box2 .alxs {
  margin-top: 5%;
  width: 100%;
  grid-gap: 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.container2 .box2 .alxs .alxs1 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.container2 .box2 .alxs .alxs1 img {
  width: 100%;
  height: 100%;
}
.container2 .box2 .alxs .alxs1 .alxs2 {
  padding: 10%;
  width: 100%;
  height: 100%;
}
.container2 .box2 .alxs .alxs1 .alxs2 p {
  color: rgba(51, 51, 51, 0.5);
}
.container2 .box2 .alxs .alxs1 .col1 {
  background-color: rgb(255, 244, 241);
}
.container2 .box2 .alxs .alxs1 .col2 {
  background-color: rgb(99, 71, 249);
}
.container2 .box2 .alxs .alxs1 .col3 {
  background: rgb(245, 246, 248);
}
.container2 .box2 input {
  margin: 15vh auto;
  width: 109px;
  padding: 10px 20px;
  background-color: white;
  color: rgb(240, 124, 82);
  border: 2px solid rgb(240, 124, 82);
}
.container2 .box3 {
  width: 100%;
  display: grid;
  grid-column-gap: 22%;
  grid-template-columns: repeat(2, 1fr);
}
.container2 .box3 .text {
  display: grid;
  align-items: center;
  font-size: 20px;
}
.container2 .box3 .text .texs .be {
  width: 100%;
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.container2 .box3 .text .texs .be span::before {
  font-size: large;
  content: url(/img/tick.png);
}
.container2 .box3 .text .texs input {
  border: none;
  color: white;
  padding: 10px 20px;
  background-color: rgb(240, 124, 82);
}
.container2 .box3 .imgs {
  display: flex;
  width: 100%;
  height: 70vh;
  justify-content: end;
  position: relative;
  background-image: url(/img/18.png);
  background-size: cover;
  background-position: center;
}
.container2 .box3 .imgs .imgs1 {
  top: 25%;
  left: 75%;
  width: 50%;
  overflow: hidden;
  position: absolute;
}
.container2 .box3 .imgs .imgs1 img {
  margin-left: -50%;
  width: 150%;
}
.container2 .box3 .imgs .imgs1 h3 {
  color: white;
  text-align: center;
}
.container2 .box3 .imgs .imgs1 p {
  color: rgba(255, 255, 255, 0.5);
}
.container2 .box3 .imgs img {
  width: 100%;
}
.container2 .box4 {
  margin-top: 20vh;
}
.container2 .box4 .carousel-inner .carousel-indicators button {
  border: 2px solid black;
}
.container2 .box4 .carousel-inner .carousel-item {
  height: 65vh;
}
.container2 .box4 .carousel-inner .carousel-item .carousel-text {
  width: 30%;
  margin: 0 auto;
}
.container2 .box4 .carousel-inner .carousel-item .carousel-text p {
  padding: 20%;
  background-color: rgb(245, 246, 248);
}
.container2 .box4 .carousel-inner .carousel-item .carousel-caption {
  margin: 0 auto;
  margin-left: 45vh;
  height: 100px;
}
.container2 .box4 .carousel-inner .carousel-item .carousel-caption p {
  color: black;
  margin-left: 20px;
}
.container2 .box4 .carousel-inner .carousel-item .carousel-caption img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.box5 {
  width: 100%;
  padding: 5%;
  background-color: rgb(17, 37, 58);
}
.box5 .container3 {
  width: 100%;
  height: 100%;
  color: white;
}
.box5 .container3 .boxs1 {
  display: grid;
  grid-gap: 5%;
  grid-template-columns: repeat(2, 1fr);
}
.box5 .container3 .boxs1 .boxks1 p {
  color: rgba(255, 255, 255, 0.5);
}
.box5 .container3 .boxs1 .boxks1 h1 {
  font-size: 80px;
  width: 75%;
}
.box5 .container3 .boxs1 .boxks2 {
  display: grid;
  align-items: end;
  justify-content: end;
}
.box5 .container3 .boxs1 .boxks2 input {
  padding: 1% 4%;
  color: white;
  background-color: rgb(17, 37, 58);
  border: 2px solid rgba(255, 255, 255, 0.5);
}
.box5 .container3 .boxs2 {
  margin: 5% 0;
  width: 100%;
  height: 100%;
  grid-gap: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.box5 .container3 .boxs2 .boxks3 {
  width: 100%;
  height: 100%;
}
.box5 .container3 .boxs2 .boxks3 .a {
  width: 100%;
  color: black;
  background-color: white;
  height: 40vh;
  padding: 10%;
}
.box5 .container3 .boxs2 .boxks3 .a .matn {
  display: grid;
  grid-template-columns: 10fr 2fr;
}
.box5 .container3 .boxs2 .boxks3 .a .matn .cols {
  width: 70%;
  height: 90%;
  border-radius: 50%;
  background-color: blue;
}
.box5 .container3 .boxs2 .boxks3 .a .matn .cols img {
  width: 60%;
  height: 70%;
  margin: 20%;
}
.box5 .container3 .boxs2 .boxks3 .a .matn .cols1 {
  background-color: green;
}
.box5 .container3 .boxs2 .boxks3 .imgsj {
  width: 100%;
  height: 60%;
  background-color: red;
}
.box5 .container3 .boxs2 .boxks3 .imgsj img {
  width: 100%;
  height: 100%;
}
.box5 .container3 .boxs3 {
  width: 100%;
  grid-gap: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.box5 .container3 .boxs3 .boxks4 p {
  color: rgba(255, 255, 255, 0.5);
}
.box5 .container3 .boxs3 .boxks5 {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: end;
}
.box5 .container3 .boxs3 .boxks5 input {
  width: 40%;
  padding: 10px;
}
.box5 .container3 .boxs3 .boxks5 button {
  width: 25%;
  padding: 10px;
  color: white;
  background-color: rgb(82, 170, 127);
}
.box5 .container3 .boxs4 {
  grid-gap: 5%;
  display: grid;
  margin-top: 20vh;
  grid-template-columns: repeat(2, 1fr);
}
.box5 .container3 .boxs4 .boxks6 img {
  width: 100%;
  height: 100%;
}
.box5 .container3 .boxs4 .boxks7 {
  padding: 5% 10%;
}
.box5 .container3 .boxs4 .boxks7 span {
  color: rgba(255, 255, 255, 0.5);
}
.box5 .container3 .boxs4 .boxks7 h1 {
  width: 80%;
  font-size: 75px;
}
.box5 .container3 .boxs4 .boxks7 p {
  width: 80%;
}
.box5 .container3 .boxs4 .boxks7 h5 {
  display: flex;
  align-items: center;
}
.box5 .container3 .boxs4 .boxks7 h5::before {
  content: url(/img/call.png);
}
.box5 .container3 .boxs4 .boxks7 i {
  border-radius: 50%;
  font-size: 23px;
}
.box5 .container3 .boxs4 .boxks7 button {
  width: 25%;
  padding: 10px;
  color: white;
  background-color: rgb(82, 170, 127);
}

footer {
  width: 100%;
  padding: 5%;
  background-color: rgb(12, 26, 41);
}
footer .container4 {
  width: 90%;
  margin: 0 5%;
}
footer .container4 .foot-text {
  display: grid;
  color: white;
  grid-template-columns: repeat(4, 1fr);
}
footer .container4 .foot-text p {
  color: rgba(255, 255, 255, 0.5);
}
footer .container4 .foot-text ul {
  list-style: none;
}
footer .container4 .foot-text ul li {
  gap: 20px;
  list-style: none;
}
footer .container4 .foot {
  display: flex;
  position: relative;
}
footer .container4 .foot p {
  color: rgba(255, 255, 255, 0.5);
}
footer .container4 .foot .foots {
  right: 0px;
  position: absolute;
}
footer .container4 .foot .foots span {
  color: white;
}
footer .container4 .foot .foots .rig {
  margin-right: 40px;
}

@media (max-width: 800px) {
  .heads .las {
    display: none;
  }
  .heads .container-fluid.navbar-dark {
    display: block;
  }
  header .sarlovhaImg {
    grid-template-columns: repeat(3, 1fr);
  }
  .container1 section.box {
    grid-template-columns: repeat(1, 1fr);
  }
  .container1 section.box .imgs .imgs1 {
    top: 70%;
    left: 10%;
  }
  section.box1 {
    margin-top: 50vh;
  }
  section.box1 .alx {
    grid-template-columns: repeat(1, 1fr);
  }
  .container2 section.box2 .alxs {
    grid-template-columns: repeat(1, 1fr);
  }
  .container2 section.box2 input {
    margin-top: 300vh;
  }
  .container2 section.box3 {
    grid-row-gap: 20vh;
    grid-template-columns: repeat(1, 1fr);
  }
  .container2 section.box3 .imgs .imgs1 {
    left: 25%;
    top: 75%;
  }
  .container2 section.box4 .carousel-inner .carousel-item .carousel-text {
    width: 80%;
  }
  .container2 section.box4 .carousel-inner .carousel-item .carousel-caption {
    margin: 0 auto;
  }
  section.box5 .container3 .boxs1 {
    grid-template-columns: repeat(1, 1fr);
  }
  section.box5 .container3 .boxs1 .boxks2 {
    align-items: start;
    justify-content: start;
  }
  section.box5 .container3 .boxs2 {
    grid-template-columns: repeat(1, 1fr);
  }
  section.box5 .container3 .boxs3 {
    margin-top: 20vh;
    grid-template-columns: repeat(1, 1fr);
  }
  section.box5 .container3 .boxs3 .boxks5 {
    justify-content: start;
  }
  section.box5 .container3 .boxs4 {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 800px) {
  ul#navbarToggleExternalContent {
    display: none;
  }
}/*# sourceMappingURL=stayle.css.map */